<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1>All Events</h1>
<nav th:replace="fragments :: navigation"></nav>
<br>
<br>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
    </tr>
    </thead>
   <th:block th:each="event : ${events}">
    <tr>
        <td>
            <span th:text="${event.key}"></span>
        </td>
        <td>
            <span th:text="${event.value}"></span>
        </td>
        <td>
            <span th:replace="fragments :: address"></span>
        </td>
    </tr>
   </th:block>


</table>

</body>
</html>